.DrivePageBg{
    background-image: url(../UpdateProfile/image/NotifyBg.jpg);
    height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}